.side-menu-container {
  box-shadow: 5px 0 5px 0 grey;
  z-index: 1;
}

.side-menu-container-white {
  padding-top: 0.01rem;
  width: 100%;
  height: fit-content;
}

.side-menu-white-content {
  display: grid;
  grid-row-gap: 1rem;
}

.side-menu-blue {
  width: 15rem;
  height: 100%;
  background-color: #252d8a;
  color: #e2e2e2;
  display: flex;
  flex-direction: column;
  :first-child {
    margin-top: 2rem;
  }
  &-href {
    color: white;
    margin: 0.5rem 0 0.5rem 1rem;
  }
}

.side-menu-white {
  height: 5rem;
  box-shadow: 3px 3px 3px 0 grey;
  background-color: white;
  border-radius: 5px;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}