.side-menu {
  width: 15rem;
  background-color: #252d8a;
  color: #e2e2e2;
  display: flex;
  flex-direction: column;
  :first-child {
    margin-top: 2rem;
  }
  &-href {
    color: white;
    margin: 0.5rem 0 0.5rem 1rem;
  }
}